In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score

In [10]:
# Load dataset
data = pd.read_csv("Day_28_Clustering_Dataset.csv", sep="\t")  # Assuming dataset is provided as tab-separated values

In [12]:
# Display first 5 rows
print("First 5 rows of the dataset:")
print(data.head())

First 5 rows of the dataset:
               Feature_1,Feature_2,Cluster
0   -7.726420909219675,-8.39495681796181,2
1   5.453396053597771,0.7423053675067768,1
2   -2.978672008987702,9.556846171784287,0
3   6.042673147164201,0.5713186211484511,1
4  -6.521839830802987,-6.319325066907712,2

In [26]:
data.head()

               Feature_1,Feature_2,Cluster
0   -7.726420909219675,-8.39495681796181,2
1   5.453396053597771,0.7423053675067768,1
2   -2.978672008987702,9.556846171784287,0
3   6.042673147164201,0.5713186211484511,1
4  -6.521839830802987,-6.319325066907712,2

In [28]:
data.describe

<bound method NDFrame.describe of                  Feature_1,Feature_2,Cluster
0     -7.726420909219675,-8.39495681796181,2
1     5.453396053597771,0.7423053675067768,1
2     -2.978672008987702,9.556846171784287,0
3     6.042673147164201,0.5713186211484511,1
4    -6.521839830802987,-6.319325066907712,2
..                                       ...
95     -3.186119623358709,9.62596241703919,0
96    -1.4781981005567992,9.94556624731452,0
97    4.478593124562092,2.3772205407552702,1
98  -5.7965759479759935,-5.826307541241044,2
99    -3.348415146275389,8.705073752347108,0

[100 rows x 1 columns]>

In [34]:
data.isnull()

    Feature_1,Feature_2,Cluster
0                         False
1                         False
2                         False
3                         False
4                         False
..                          ...
95                        False
96                        False
97                        False
98                        False
99                        False

[100 rows x 1 columns]

In [16]:
print("Statistical Summary:")
print(data.describe())

Statistical Summary:
                   Feature_1,Feature_2,Cluster
count                                      100
unique                                     100
top     -7.726420909219675,-8.39495681796181,2
freq                                         1

In [22]:
plt.figure(figsize=(8, 6))
sns.scatterplot(x=data['Feature_1'], y=data['Feature_2'], hue=data['KMeans_Cluster'], palette='Set1')
plt.title('K-Means Clustering (K=3)')
plt.show()

KeyError: 'Feature_1'

In [24]:
wcss = []
k_values = range(1, 11)
for k in k_values:
    kmeans = KMeans(n_clusters=k, random_state=42)
    kmeans.fit(data_scaled)
    wcss.append(kmeans.inertia_)

plt.figure(figsize=(8, 6))
plt.plot(k_values, wcss, marker='o', linestyle='--')
plt.xlabel('Number of Clusters (K)')
plt.ylabel('WCSS')
plt.title('Elbow Method for Optimal K')
plt.show()

# Silhouette Score for K=3
silhouette_avg = silhouette_score(data_scaled, data['KMeans_Cluster'])
print(f'Silhouette Score for K=3: {silhouette_avg}')

# Compare KMeans clusters with true clusters
confusion_matrix = pd.crosstab(data['Cluster'], data['KMeans_Cluster'])
print("\nComparison of True vs. K-Means Clusters:")
print(confusion_matrix)

NameError: name 'data_scaled' is not defined